@import "../../Scss/Index.scss";
.content_data {
  background: rgba(0, 0, 0, 0.281);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 50px;
  min-height: 250px;
  border-radius: 15px;
  margin: 0px 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(148, 0, 247, 0.61);
  .block_info {
    max-width: 800px;
    margin: auto;
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .select_btn {
        padding: 12px 20px;
        border: 0;
        background: #ffffff1a;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        transition: 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        &.active {
          background-color: rgb(148, 0, 247);;
        }
      }
    }
    .title {
      margin: 30px 0 40px 0;
      text-align: center;
      h1 {
        color: white;
      }
      h2 {
        font-size: 18px;
        color: white;
        font-weight: 300;
      }
    }
  }
}
