.footer {
  height: 10vh;

  .end {
    border-top: 2px solid;
    border-image: linear-gradient(
        54.09deg,
        #0348dd 2.03%,
        #8142f5 48.63%,
        #ee4dd4 96.22%
      )
      1;
    border-image-slice: 1;
    color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 0 10px;
    margin: 1.5rem;
    height: 1px;
  }

  .manueljimena {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
    color: white;
  }

  .github {
    font-size: 23px;
    margin: 5px;
    color: white;
  }
}
